<h1>Editing question</h1>

<% form_for(@question, :url => company_event_question_path(@company, @event, @question)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to image_tag("show.png", :border => 0, :width => 16, :height => 16), company_event_question_path(@company, @event, @question)  %>
<%= link_to image_tag("back.png", :border => 0, :width => 16, :height => 16), company_event_path(@company, @event) %>
