<h1>New question</h1>

<% form_for(@question, :url => company_event_questions_path(@company, @event)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </p>


	<div id="answers">
		<%= render :partial => 'answer', :collection => @question.answers %>
	</div>

	<p><%= add_answer_link "Add an answer" %></p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', company_event_path(@company, @event)  %>
