<p>
  <b>Question:</b>
  <%=h @question.question %>
</p>

	<% @question.answers.each do |answer|%>
	    <p>
			<% unless @question.active %>
				<%= Vote.count(:all, :conditions => ["answer_id = ?", answer])%>		
			<%end%>
			<%= link_to_if @question.active, image_tag ("/images/up.png", :border=>0,:width=>25, :height=>25), update_score_company_event_question_path(@company, @event, @question, :answer_id => answer), :method => :post %>
			<%= h answer.value%>
		</p>
	<%end%>
<%= link_to 'Back', company_event_path(@company, @event) %>
