<%if(@user_can_manage_company)%>
<fieldset>
	<legend>admin menu</legend>
		<%= link_to_if !@question.active, "activate", open_voting_company_event_question_path(@company, @event, @question), :method => :put %>
		<%= link_to_if @question.active, "deactivate", close_voting_company_event_question_path(@company, @event, @question), :method => :put %>
</fieldset>
<%end%>


<p>
  <b>Question:</b>
  <%=h @question.question %>
</p>

<%user_vote = Vote.find(:first, :include => :answer, :conditions => ["answers.question_id = ? and user_id = ?", @question, current_user])%>


<%if @question.active%>
	<% @question.answers.each do |answer|%>
	<p>
		<%if user_vote%>
			<%if user_vote.answer == answer%>
				<%=image_tag ("/images/check.png", :border=>0,:width=>16, :height=>16)%>
			<%else%>
				&nbsp;&nbsp;&nbsp;
			<%end%>
		<%else%>
			<%= link_to "vote", update_score_company_event_question_path(:answer_id => answer), :method => :post %>
		<%end%>				
		<%= h answer.value%>
	</p>
	<%end%>
<%end%>

	<%if user_vote%>
		<p>	
		<% 
		height = @question.answers.length * 50 + 100
		%>

		<%unless @question.votes.blank? %>
		 <embed src="/FusionCharts/FCF_Bar2D.swf?chartWidth=800&chartHeight=<%=height%>" 
		flashVars="&dataXML=<%=@xml_data%>"
		"
		quality="high" width="800" height="<%=height%>" name="FCF_Bar2D" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
		<%else%>
		No votes yet...
		<%end%>
		</p>
	<%end%>
<%= link_to image_tag("back.png", :border => 0, :width => 16, :height => 16), company_event_path(@company, @event) %>


