<p>
  <b>Name:</b>
  <%=h @event.name %>
</p>

<p>
  <b>Date:</b>
  <%=h @event.date %>
</p>


<%= link_to 'Edit', edit_company_event_path(@company, @event) %> |
<%= link_to 'Back', company_path(@company) %>


<h1>Listing questions</h1>
<%= link_to "Add New Question", new_company_event_question_path(@company, @event) %>
<table>
  <tr>
    <th>Question</th>
	<th colspan="6"/>
    <th>Total Score</th>
  </tr>

<% for question in @event.questions %>
  <tr>
    <td><%=h question.question %></td>
    <td><%= link_to 'Show', company_event_question_path(@company, @event, question) %></td>
    <td><%= link_to 'Edit', edit_company_event_question_path(@company, @event, question) %></td>
    <td><%= link_to 'Destroy', company_event_question_url(@company, @event, question), :confirm => 'Are you sure?', :method => :delete %></td>
	<td>
		<%= link_to_remote image_tag ("/images/down.png", :border=>0,:width=>25, :height=>25), 
			:url => {
				:controller => :home, :action => :shrink_picture, :id => question
			}
		%>
	</td>	
	<td>
		<%= link_to_remote image_tag ("/images/none.png", :border=>0,:width=>25, :height=>25), 
			:url => {
				:controller => :home, :action => :shrink_picture, :id => question
			}
		%>
	</td>	
	<td>
		<%= link_to_remote image_tag ("/images/up.png", :border=>0,:width=>25, :height=>25), 
			:url => {
				:controller => :home, :action => :shrink_picture, :id => question
			}
		%>
	</td>	
	<td>
	</td>
  </tr>
<% end %>
</table>
