<p>
  <h1>Company Name: <%=h @company.name %></h1>
</p>


<p>
  <h2>Event Name: <%=h @event.name %></h2>
</p>

<p>
  <b>Date:</b>
  <%=h @event.date %>
</p>


<%= link_to image_tag ("back.png", :border => 0, :width => 16, :height => 16), company_path(@company) %>
<%= link_to image_tag ("edit.png", :border => 0, :width => 16, :height => 16), edit_company_event_path(@company, @event) %> 


<h1>Listing questions</h1>
<%= will_paginate @questions %>
<table>
  <tr>
    <th>Question</th>
	<th colspan="4"/>
  </tr>

<% for question in @questions %>
  <tr>
    <td><%= link_to((h question.question) , company_event_question_path(@company, @event, question)) %></td>
    <td><%= link_to image_tag ("trash.png", :border => 0, :width => 16, :height => 16), company_event_question_url(@company, @event, question), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @questions %>

<%= link_to image_tag ("add.png", :border => 0, :width => 16, :height => 16), new_company_event_question_path(@company, @event) %>
