<p>
  <h1>Company Name: <%=h @company.name %></h1>
</p>


<p>
  <h2>Event Name: <%=h @event.name %></h2>
</p>

<p>
  <b>Date:</b>
  <%=h @event.date %>
</p>


<%= link_to 'Edit', edit_company_event_path(@company, @event) %> |
<%= link_to 'Back', company_path(@company) %>


<h1>Listing questions</h1>
<%= will_paginate @questions %>
<table>
  <tr>
    <th>Question</th>
	<th colspan="5"/>
    <th>Score</th>
    <th>Voted</th>
  </tr>

<% for question in @questions %>
  <tr>
    <td><%= link_to((h question.question) , company_event_question_path(@company, @event, question)) %></td>
    <td><%= link_to 'Edit', edit_company_event_question_path(@company, @event, question) %></td>
    <td><%= link_to image_tag ("trash.gif", :border => 0, :width => 16, :height => 16), company_event_question_url(@company, @event, question), :confirm => 'Are you sure?', :method => :delete %></td>
	<td><%= link_to image_tag ("/images/down.png", :border=>0,:width=>25, :height=>25), update_score_company_event_question_path(@company, @event, question, :value => "-1") %></td>	
	<td><%= link_to image_tag ("/images/none.png", :border=>0,:width=>25, :height=>25), update_score_company_event_question_path(@company, @event, question, :value => "0") %></td>	
	<td><%= link_to image_tag ("/images/up.png", :border=>0,:width=>25, :height=>25), update_score_company_event_question_path(@company, @event, question, :value => "1") %></td>	
	<td>
		<%= question.score %>
	</td>
	<td>
		<%= question.votes(:refresh).size %>
	</td>
  </tr>
<% end %>
</table>
<%= will_paginate @questions %>

<%= link_to image_tag ("add.gif", :border => 0, :width => 16, :height => 16), new_company_event_question_path(@company, @event) %>
<%= link_to "Add New Question", new_company_event_question_path(@company, @event) %>
