<h1>Listing companies</h1>


<%= will_paginate @companies %>
<table>
	<tr>
		<th>Name</th>
	</tr>
	<% for company in @companies %>
	<tr>
		<td><%= link_to((h(company.name)), company) %></td>
		<td><%= link_to 'Edit', edit_company_path(company) %></td>
		<td><%= link_to image_tag ("trash.gif", :border => 0, :width => 16, :height => 16), company, :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
</table>
<%= will_paginate @companies %>

<br />

<%= link_to 'New company', new_company_path %>
