<h1>Listing companies</h1>


<%= will_paginate @companies %>
<table>
	<tr>
		<th>Name</th>
	</tr>
	<% for company in @companies %>
	<tr>
		<td><%= link_to((h(company.name)), company) %></td>
		<td><%= link_to_if(current_user.can_manage_company?(company), image_tag ("edit.png", :border => 0, :width => 16, :height => 16), edit_company_path(company)) do end%></td>
		<td><%= link_to_if(current_user.can_manage_company?(company), image_tag ("trash.png", :border => 0, :width => 16, :height => 16), company, :confirm => 'Are you sure?', :method => :delete) do end %></td>
	</tr>
	<% end %>
</table>
<%= will_paginate @companies %>

<br />

<%= link_to( image_tag ("add.png", :border => 0, :width => 16, :height => 16), new_company_path) %>
