<p>
  <h1>Company Name: <%=h @company.name %></h1>

</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>




<h2>Listing events</h2>

<%= will_paginate @events %>
	
<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
  </tr>

<% for event in @events %>
  <tr>
    <td><%= link_to((h event.name), company_event_path(@company, event)) %></td>
    <td><%=h event.date %></td>
    <td><%= link_to 'Edit', edit_company_event_path(@company, event) %></td>
    <td><%= link_to image_tag ("trash.gif", :border => 0, :width => 16, :height => 16), company_event_url(@company, event), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @events %>

<%= link_to image_tag ("add.gif", :border => 0, :width => 16, :height => 16), new_company_event_path(@company) %>
<%= link_to "Add New Event", new_company_event_path(@company) %>
