<p>
  <h1>Company Name: <%=h @company.name %></h1>
</p>
<p>
	Email following link to all the people you want to be able to participate in polls for <i><%=h @company.name%></i>.
	<br/>
	<b>
		<%=link_to join_company_url(@company, :joining_code => @company.joining_code), join_company_url(@company, :joining_code => @company.joining_code)%>
	</b>
	<br/>
	<%=link_to "generate new joining code",  generate_new_joining_code_company_path(@company), :method => :put%>
	
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<h2>Listing events</h2>

<%= will_paginate @events %>
	
<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
  </tr>

<% for event in @events %>
  <tr>
    <td><%= link_to((h event.name), company_event_path(@company, event)) %></td>
    <td><%=h event.date %></td>
    <td><%= link_to 'Edit', edit_company_event_path(@company, event) %></td>
    <td><%= link_to image_tag ("trash.gif", :border => 0, :width => 16, :height => 16), company_event_url(@company, event), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @events %>

<%= link_to image_tag ("add.gif", :border => 0, :width => 16, :height => 16), new_company_event_path(@company) %>
<%= link_to "Add New Event", new_company_event_path(@company) %>
