<%if current_user.is_user_in_role(ADMIN_ROLE_ID)%>
<p>
  <h1>Company Name: <%=h @company.name %></h1>
</p>

<%= link_to image_tag ("back.png", :border => 0, :width => 16, :height => 16), companies_path %>
<%= link_to image_tag ("edit.png", :border => 0, :width => 16, :height => 16), edit_company_path(@company) %>


<fieldset>
	<legend>admin menu</legend>
	Email following link to all the people you want to be able to participate in polls for <i><%=h @company.name%></i>.
	<br/>
	<b>
		<%=link_to join_company_url(@company, :joining_code => @company.joining_code), join_company_url(@company, :joining_code => @company.joining_code)%>
	</b>
	<br/>
	<%=link_to "generate new joining code",  generate_new_joining_code_company_path(@company), :method => :put%>
</fieldset>
<%end%>


<h2>Listing events</h2>

<%= will_paginate @events %>
	
<table>
  <tr>
    <th>Name</th>
  </tr>

<% for event in @events %>
  <tr>
    <td><%= link_to((h event.name), company_event_path(@company, event)) %></td>
    <td><%= link_to_if(current_user.is_user_in_role(ADMIN_ROLE_ID), image_tag("edit.png", :border => 0, :width => 16, :height => 16), edit_company_event_path(@company, event)) do end %></td>
    <td><%= link_to_if(current_user.is_user_in_role(ADMIN_ROLE_ID), image_tag ("trash.png", :border => 0, :width => 16, :height => 16), company_event_url(@company, event), :confirm => 'Are you sure?', :method => :delete) do end %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @events %>

<%= link_to_if(current_user.is_user_in_role(ADMIN_ROLE_ID), image_tag ("add.png", :border => 0, :width => 16, :height => 16), new_company_event_path(@company)) do end %>


