<%= will_paginate @users %>
<table>
	<tr>
		<th>Name</th>
		<th>Admin</th>
	</tr>
	<% for user in @users %>
	<tr>
		<td><%= h(user.login) %></td>
		<td><%= check_box_tag "toggle_admin_#{user.id}", 1, user.can_manage_company?(@company) ? true : false, :onclick => remote_function(:url =>{ :action => :toggle_admin, :id => user.id }) %>
		</td>
	</tr>
	<% end %>
</table>
<%= will_paginate @users %>


<%= link_to image_tag ("back.png", :border => 0, :width => 16, :height => 16), @company %>
